body {
  padding: 10%;
}

h1, h2, h3 {
  margin: 0;
}

#response {
  width: 100%;
  background: lightgrey;
  padding: 10px;
  display: block;
}

.Song {
  display: flex;
}

.Song__metadata {
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
  width: 400px;
}

.Song__title,
.Song__artist,
.Song__frequency-chart,
.Song__player-progress,
.Song__time-progress
{
  flex: 1 100%;
}

.Song__frequency-chart {
  height: 36px;
  background-color: blue;
}

.Song__player-progress {
  height: 6px;
  background-color: green;
}

.Song__time-progress, .Song__controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Song__cover {
  image-rendering: pixelated;
}
.Cover__image {
  width: 150px;
}

.Control__button {
  flex: 1 auto;
  background-color: black;
  height: 40px;
}

.Control__button:nth-child(2) {
  margin: 0 10px;
}